.dart_tool/
.packages
pubspec.lock
build/
/.gradle
/.idea/
.vscode/
*.iml
.metadata
.flutter-plugins
.flutter-plugins-dependencies
android/local.properties
**/local.properties
**/generated_plugin_registrant.*
*.apk
*.aar
*.keystore
*.jks
*.lock
.DS_Store
/.pub-cache
/.flutter-plugins
/.flutter-plugins-dependencies
/.flutter-plugins
/.android
/.gradle
/.idea
/.metadata
/.packages
/.dart_tool